%h1 Tüm Modeller
%table{:border => "1",class: "table table-bordered table-dark"}
  %tr
    %td Adı
    %td işlemler
  - @models.each do |model|
    %tr
      %td= model.name
      %td
        = link_to("Göster",admin_model_path(model.id), class: "btn btn-primary")
        = link_to("Güncelle",edit_admin_model_path(model.id), class: "btn btn-primary")
        = link_to 'Sil', admin_model_path(model.id), class: "btn btn-danger", method: :delete, data: {:confirm => 'Emin misiniz?'}
= link_to "Yeni model ekle",new_admin_model_path, class: "btn btn-primary"
