%h1 Tüm Motorlar
%table{:border => "1",class: "table table-bordered table-dark"}
  %tr
    %td Adı
    %td işlemler
  - @motorcycle.each do |motorcycle|
    %tr
      %td= motorcycle.model.name
      %td
        = link_to("Göster",admin_motorcycle_path(motorcycle.id), class: "btn btn-primary")
        = link_to("Güncelle",edit_admin_motorcycle_path(motorcycle.id), class: "btn btn-primary")
        %button.btn.btn-primary{:href => "#", :onclick => "mydelete('#{motorcycle.id}')",:title => "Sil",type:"button"}
= link_to "Yeni motor ekle",new_admin_motorcycle_path, class: "btn btn-primary"

:javascript
  function mydelete(id){
    alert("siliniyor")
    window.top.location.href = '/admin/motorcycles/destroy_motor?id='+id+'';
  } 
