%h1 Tüm Motorlar
%table{:border => "1"}
  %tr
    %td Adı
    %td işlemler
  - @motorcycle.each do |motorcycle|
    %tr
      %td= motorcycle.model.name
      %td
        = link_to("Göster",admin_motorcycle_path(motorcycle.id))
        = link_to("Güncelle",edit_admin_motorcycle_path(motorcycle.id))
        = link_to 'Sil', admin_motorcycles_path(id: motorcycle.id), method: :delete, data: {:confirm => 'Emin misiniz?'}
= link_to "Yeni motor ekle",new_admin_motorcycle_path

