<h1>Ayrıntılar</h1>
<%= @motorcycle.model.name %><br>
<%= @motorcycle.name %><br>
<%= @motorcycle.description %><br>
<%= @motorcycle.price %><br>
<%=image_tag @motorcycle.picture_id, style:"width:150px; height:150px; object-fit:cover "%><br>

<%=link_to "Tümünü Göster",motorcycles_path%>
